<h1>New Presence</h1>

<%= render 'form', presence: @presence %>

<div class="row">
	<div class="col-md-12">
		<%= link_to '<i class="fas fa-users"></i> Back to user'.html_safe, user_path(:id => params[:user_id]), 
					class: "btn btn-outline-secondary btn-sm btn-block" %>
	</div>
</div>
