<h1 align="center">Edit User</h1>
<div class="row">
	<div class="col-md-6">
		<%= link_to '<i class="fas fa-users"></i> Back to user'.html_safe, @user, 
					class: "btn btn-outline-secondary btn-sm btn-block" %>
		
	</div>
	<div class="col-md-6">
		<%= link_to '<i class="fas fa-eye"></i> Show'.html_safe , @user, 
		                         class: "btn btn-outline-info btn-sm btn-block" %>
	</div>
</div>
	<%= render 'form', user: @user %>

